@{
    ViewData["Title"] = "MouseLink";
}
<div class="text-center">
    <h1 class="display-4">Mice Ranking</h1>
    <p>The list of the current best gaming mice.</p>
    </div>

    <div>
    
   <table id="mouseRank" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Size</th>
                <th>Shape</th>
                <th>Weight</th>
                <th>Wireless</th>

                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Logitech G Pro X Superlight</td>
                <td>Medium/Large</td>
                <td>Symmetrical</td>
                <td>63g</td>
                <td>Yes</td>

               
            </tr>
            <tr>
                <td>2</td>
                <td>Razer Viper V2 Pro</td>
                <td>Medium</td>
                <td>Symmetrical</td>
                <td>59g</td>
                <td>Yes</td>

            </tr>
         
        
    </table>
</div>