@{
    ViewData["Title"] = "MouseLink";
}
<div class="text-center">
    <h1 class="display-4">Welcome to MouseLink</h1>
    <p>Search for a mouse.</p>
    <form id="form"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
    </form>
    
   
</div>
