@{
    ViewData["Title"] = "MouseLink";
}
<div class="text-center">
    <h1 class="display-4">Welcome to MouseLink</h1>
    <p class="fadeaway">Link with your final mouse.</p>
 <div class="form">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-input" placeholder="Find your mouse...">
                  
    
   
</div>
