html {
  
}
body {
    background-color: black;
}

@media (min-width: 768px) {
  html {
    
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4 {
   font-size: 125px;
   font-family:'Permanent Marker', cursive;
   color: beige;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;

}