html {
  
}
body {
    background-color: rgb(13 13 13)
    
}


@media (min-width: 768px) {
    html {
    
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4 {
    font-size: 125px;
    font-family: 'Shrikhand', cursive;
    color: rgb(119, 138, 191);
    display: inline-block;
}
.form-group 
{
    font-family: 'Cabin';
   
}


p {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    
}
.fadeaway {
    color: rgb(13 13 13);
    display: inline-block;
    opacity: 0.6;
    transition: 0.3s;
}
.fadeaway:hover {
    color: whitesmoke;
    opacity: 1;
}
.height {
    height: 100vh;
}

.form {
    position: relative;
}

    .form .fa-search {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #9ca3af;
    }

    .form span {
        position: absolute;
        right: 17px;
        top: 13px;
        padding: 2px;
        border-left: 1px solid #d1d5db;
    }

.left-pan {
    padding-left: 7px;
}

    .left-pan i {
        padding-left: 10px;
    }

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

 .form-input:focus {
        box-shadow: none;
        border: none;
 }
main {
    color: whitesmoke;
}
.home-row
{
margin-left: 40%
}
ul
{
margin-left: 30%;
}
.btn-primary {
    margin-top: 10%;
    margin-left: 35%;
    color: whitesmoke;
    background-color: rgb(119, 138, 191);
}
    .btn-primary:hover {
        color: rgb(119, 138, 191);
        background-color: whitesmoke;
        border-color: whitesmoke;
    }
.navbar
{
    background-color: rgb(13,13,13);
    color:whitesmoke;
}
